QPushButton {
  background-color: #ffffff;
  border: 0px;
  padding: 12px;
}

QPushButton:hover {
  background-color: #cccccc;
}

QPushButton:pressed {
  background-color: #888888;
}

QPushButton:checked {
  background-color: #aaaaaa;
}
